/* Web Propia 0.0.1*/
/* 0.0.1 changeLog
    - Barra de navegacion
    - Hero image
*/

/* -----------------------------------------------------------
Secciones
    1- Settings iniciales
    2- Barra de Navegacion
    3- Hero Image
    4- Hero Text
*/

/* 1- Settings Iniciales */
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

li{
    text-decoration: none;

}

/*Barra de Navegacion*/

.nav-bar{
    display: inline;

}



